body{
	margin:0;
	padding:0;
 background: black;
  font-family: 'Roboto';
}

header{

background: #FFFAF0;
border:1px solid green;
width: 100%;
height: 80px;
top: 0px;
position: fixed;
z-index: 3;


}

.caja-header{/*caja de contenido, MENU*/


padding-top: 4px;
margin-left: 5%;
  }

  h1{
  	font-size:32px;
  	color:#696969;
    font-weight: 500;
  }

   h2{
    font-size:32px;
    font-weight: 500;
    color: white;
  }



.contenedor{/*contiene todo el contenido*/
width: 11700px;
  }

.caja{/*caja con el contenido*/
z-index: 1;
/*border: 2px solid blue;*/
float: left;
display: block;
padding-top: 80px;
width: 6.15%
}
.imagen{/*caja de la imagen*/
width: 100%
}

.imagen img{/*valores de la imagen en la caja imagen*/
  max-width: 100%;
}
.cajatexto{
z-index: 2;
position: absolute;
background-color: rgba(0,0,0,.6);
width: 500px;
font-weight: 400;
font-size: 14px;
line-height: 20px;
margin-top: -400px;
margin-left: 50px;
padding: 1.5%;
}

.cajatexto p{ /*valores del texto en la caja*/
  color: white;

}

.caja2{/*caja con el contenido*/
z-index: 1;
/*border: 2px solid blue;*/
float: left;
display: block;
padding-top: 80px;
width: 8.32%
}

@media screen and (max-width: 768px) {

.cajatexto{

/*border:1px solid red;*/

margin:-10% 10% auto;

}

.cajatexto p{
font-size: 12px;
 /*line-height: 20px;*/
}